body {
  background: #64c2c8;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  border: 3px solid #1d242c;
  width: 3em;
  height: 3em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background-color: white;
}

p,
#restart,
td {
  font-family: "Concert One", cursive;
}

#o {
  color: blue;
}

#x {
  color: red;
}

#status,
#restart {
  margin-top: 1%;
}

#status {
  color: white;
  font-size: 2em;
}

#credit {
  background: black;
  margin-top: 3em;
  padding: 0.75em;
  color: white;
}

#restart {
  border: none;
  background-color: white;
  text-shadow: 1px 1px gray;
  padding: 0.75em;
  border-radius: 3px;
}

#restart:hover {
  background-color: lightgray;
}
